@tailwind base;
@tailwind components;
@tailwind utilities;

.maxlines-10{
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.triangle{
    --arr-size: 9px;
    border-bottom:var(--arr-size) solid transparent ;
    border-top: var(--arr-size) solid transparent;
    border-left: var(--arr-size) solid black;
    position: absolute;
    right: calc(1px + -1 * var(--arr-size));
    top: 0px;

}